<% @liker.conversation_with(@likee.id).each do |message| %>

<p><%= message.to_id%>: <%= message.content%></p>


<% end %>


<!-- <textarea class="form-control" rows="3"></textarea> -->
<%= form_tag("users/#{@liker.id}/messages", method: "post", class: "form_control", rows: "3") do %>
<!--   <div class="form-control" rows="3"> -->
  <%= text_area_tag(:message) %>

  <%= submit_tag("Send", class: "btn btn-danger") %>

<!-- <a href=<%=%> class="btn btn-danger" role="button">Send</a>  -->
<% end %>



<div class="chat">
<div class="bubble me">Hello there!</div>
<div class="bubble you">Hi. I'm an expandeable chat box with box shadow. How are you? I expand horizontally and vertically, as you can see here.</div>
<div class="bubble me">Awesome.</div>
</div> 