<%= render 'users/header' %>

  <div class="col-md-offset-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <img alt="Img 0872" src="<%= @likee.prof_img %>" width="250px" height "250">
      </div>
        <div class="caption">
          <p>
            <h2><%= @likee.first_name %></h2>
          </p>  

          <!-- CHAT BOX -->
          <!-- outter div -->
          <div class="chat"> 
            <p>
              <% @liker.conversation_with(@likee.id).each do |message| %>
                <div style=width:100%;">
                <% if message.from_id == @liker.id%>
                  <div class="col-xs-9" style="background: red;">
                    <div class="message-holder">
                      <div class="bubble you">
                        <%= message.content%>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-3" style="background: blue;">
                    <div class="image-holder">
                      <%= image_tag(@liker.prof_img, width: '100%')%>
                    </div>
                  </div>
                <% else %>
                  <div class="bubble me">
                    <p><%= message.content%></p>
                  </div>
                <% end %>
                </div>
                <div class="clearfix"></div>
              <% end %>     
            </p>
          </div>
          
          <p>
            <%= form_tag(user_messages_path(@liker.id, :params => {:likee_id => @likee.id}), method: "post", rows: "3") do %>
              <%= text_area_tag(:content, style:"width:60%") %>
              <%= submit_tag("Send") %>
            <% end %>
          </p>

        </div>
      </div>
    </div>
  </div>

