<%= render 'users/header' %>

  <div class="col-md-offset-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <img alt="Img 0872" src="<%= @likee.prof_img %>" width="250px" height "250">
      </div>
        <div class="caption">
          <p>
            <h2>Your conversation with <%= @likee.first_name %>:</h2>
          </p>  

          <!-- CHAT BOX -->
          <!-- outter div -->
          <div class="chat"> 
            <p>
              <% @liker.conversation_with(@likee.id).each do |message| %>
                <div style=width:100%;>
                <% if message.from_id == @liker.id%>
                  <div class="col-xs-9">
                    <div class="message-holder">
                      <div class="bubble you">
                        <%= message.content%>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="image-holder">
                      <%= image_tag(@liker.prof_img, width: '100%', )%>
                    </div>
                  </div>
                <% else %>
                  <div class="col-xs-3">
                    <div class="image-holder">
                      <%= image_tag(@likee.prof_img, width: '100%')%>
                    </div>
                  </div>
                  <div class="col-xs-9">
                    <div class="message-holder">
                      <div class="bubble me">
                        <%= message.content%>
                      </div>
                    </div>
                  </div>
                <% end %>
                </div>
                <div class="clearfix"></div>
              <% end %>     
            </p>
          </div>
          
          <div class="submit-box">
            <%= form_tag(user_messages_path(@liker.id, :params => {:likee_id => @likee.id}), method: "post", rows: "1") do %>
              <div class = "col-xs-9">
                <%= text_area_tag(:content) %>
              </div>

              <div class ="col-xs-3">
                <%= submit_tag("Send") %>
              </div>
            <% end %>
            <div class="clearfix"></div>
          </div>

        </div>
      </div>
    </div>
  </div>



