<%= render 'users/header' %>

<div class="chat">
<div class="bubble me">Hello there!</div>
<div class="bubble you">Hi. I'm an expandeable chat box with box shadow. How are you? I expand horizontally and vertically, as you can see here.</div>
<div class="bubble me">Awesome.</div>
</div> 

  <div class="col-md-offset-3 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <img alt="Img 0872" src="<%= @likee.prof_img %>" width="250px" height "250">
      </div>
        <div class="caption">
          <p>
            <h2><%= @likee.first_name %></h2>
          </p>  
          <p>
            <% @liker.conversation_with(@likee.id).each do |message| %>
            <p><%= message.content%></p>
            <% end %>     
          </p>
          <p>
            <%= form_tag(user_messages_path(@liker.id, :params => {:likee_id => @likee.id}), method: "post", class: "form_control", rows: "3") do %>
              <%= label_tag(:content, "Send a new message") %>
              <%= text_area_tag(:content) %>
              <%= submit_tag("Send") %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>