<%= render 'likes/header' %>

<% if @error %>
  <h1><%= @user.first_name %>, you don't have any matches yet.</h1>
<% else %>

  <h3><%= @user.first_name %>, here are all your matches</h3>

  <!-- <a href="users/<#%= @user.id %>/likes/new">Find New Matches</a> -->
<% end %>


<div class="media">
  <a class="media-left media-middle" href="#">
    <% @matches.each do |match|%>
        <img width="150" height "150" src="<%= match.prof_img %>" class="img-thumbnail">
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%=match.first_name%>, <%=match.age%></h4>
    <a href="#" class="btn btn-danger" role="button">Message</a> 
    <a href="/users/<%= match.id %>" class="btn btn-default" role="button">View Profile</a>
  </div>
  <% end %>
</div>


