<%= render 'likes/header' %>

<% if @error %>
  <h1><%= @user.first_name %>, you don't have any matches yet.</h1>
<% else %>

  <h3><%= @user.first_name %>, here are all your matches</h3>

  <div class="col-md-offset-1 col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading center">
      <% @matches.each do |match|%>
        <img width="250" height "250" src="<%= match.prof_img %>" class="img-thumbnail">
    </div>
      <div class="caption">
          <%= match.first_name %>
        
        <br>
          <a href="<%= user_message_path(@user.id, match.id) %>" class="btn btn-danger" role="button">Message</a> 
          <a href="/users/<%= match.id %>" class="btn btn-default" role="button">View Profile</a></p>
      </div>
  </div>
      <% end %>
</div>

  <!-- <a href="users/<#%= @user.id %>/likes/new">Find New Matches</a> -->
<% end %>




