<html>
  <head>
    <title></title>
  </head>
  <body>

    <%= render 'likes/header' %>


    <% if @error %>
      <h1>There are no users based on that criteria. To find users, go back and adjust your search criteria.</h1>

    <% else %>      
    
        <div class="col-md-offset-4 col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading center">
                <a href="<%= user_path(@likee.id) %>"><img alt="Img 0872" src="<%= @likee.prof_img %>" class="img-nice-square"></a>
              </div>
                <div class="caption">
                  <p>
                    <h2><%= @likee.first_name %>, <%= @likee.age %></h2>
                  </p>  
                  <p>

                    <%= button_to "/users/#{@liker.id}/likes", :method => "post", :params => {:dislikee_id => @likee.id}, class: "btn btn-danger decision-btn" do %>
                      <i class="fa fa-close"></i>
                    <% end %>

                  <%= button_to "/users/#{@liker.id}/likes", :method => "post", :params => {:likee_id => @likee.id}, class: "btn btn-default decision-btn" do %>
                      <i class="fa fa-heart"></i>
                    <% end %>
                    <div class="clearfix">
                    </div>
                  </p>
                </div>
              </div>
            </div>
          </div>

    
    <% end %>

  </body>
  </html>