<h1>Search for a fellow broken heart</h1>

<%= form_tag("/", method: "post") do %>
  <%= label_tag(:price, "Price") %>
  <%= select(:apartment, :price, @price_array)%>
  <%= label_tag(:hood_id, "Neighborhood") %>
  <%= select(:apartment, :hood_id, options_for_select(@hood_names)) %>
  <%= submit_tag(value="Let's light this candle") %>
<% end %>