<!DOCTYPE html>
<html>
<head>
</head>

<body background="http://c4.staticflickr.com/4/3840/14867493817_f7254e9846_h.jpg">
  <%= render 'users/header' %>
  
  <div class="jumbotron">
    <div class="container">  
      <h1>It's Going Down</h1>

      <%= form_tag("/", method: "post") do %>
        <%= label_tag(:price, "Price") %>
        <%= select(:apartment, :price, @price_array)%>
        <% if @user_is_guest %> 
          <%= label_tag(:hood_id, "Neighborhood") %>
          <%= select(:apartment, :hood_id, options_for_select(@hood_array)) %>
        <% end %>
        <br>
        <%= button_tag(type: "submit", class: "btn btn-default btn-lg") do %>
          Search <i class="icon-repeat"></i>
        <% end %>
        <a class="btn btn-primary btn-lg" href="/users/new">Sign Up</a>
      <% end %>
    </div>
</div>

</body>
</html>



 <!-- nil, placeholder: "enter price" -->
