<!DOCTYPE html>
<html>
<head>
</head>

<body background="http://c4.staticflickr.com/4/3840/14867493817_f7254e9846_h.jpg">
  <%= render 'users/header' %>
  
  <div style="background:black !important" class="jumbotron jumbo-inverse text-center">
    <div class="container"> 
      <img id="timber-logo" alt="timber" src="<%= asset_path 'timber2.png' %>"> 
      <h3>it's going down</h3>

      <%= form_tag("/", method: "post") do %>
        <%= label_tag(:price, "Price") %>
        <%= select(:apartment, :price, options_for_select(@price_array))%>
        <% if @user_is_guest %> 
          <%= label_tag(:hood_id, "Neighborhood") %>
          <%= select(:apartment, :hood_id, options_for_select(@hood_array)) %>
        <% else %>
          <%= label_tag(:asset_id, "Length of stay") %>
          <%= select(:asset, :asset_id, options_for_select(@los_array)) %> 
        <% end %>
        <br>
        <%= button_tag(type: "submit", class: "btn btn-default btn-lg") do %>
          search <i class="icon-repeat"></i>
        <% end %>
        <a class="btn btn-danger btn-lg" href="/users/new">sign up</a>
      <% end %>
    </div>
</div>

</body>
</html>




