<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
<br><br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
<br><br>
  <%= f.label :age %>
  <%= f.text_field :age %>
<br><br>
  <%= f.label :gender %>
  <%= f.text_field :gender %>
<br><br>
  <%= f.label :orientation %>
  <%= f.text_field :orientation %>
<br><br>
  <%= f.label :looking_for %>
  <%= f.text_field :looking_for %>
<br><br>
  <%= f.label :prof_img %>
  <%= f.text_field :prof_img %>
<br><br>
  <%= f.label :password %>
  <%= f.password_field :password %>
<br><br>
  <%= f.submit "Sign up!", class: "btn btn-primary" %>
<% end %>