<h1><a href="../users/<%= @user.id %>"><%= @user.first_name %></h1>
<img width="200" height "200" src="<%= @user.prof_img %>"><br>
<img width="200" height "200" src="<%= @user.apt_img %>"><br>
<%= @apt.address %></a>
<p>
<%= button_to "Naah", "/results", :method => "post" %>
<%= button_to "Yup!", "/results", :method => "post" %>
</p>
