
<%= @user.first_name %>
<p>
<img width="100" height "100" src="<%= @user.prof_img %>">
</p>
<%= @apt.address %>

<p>
<%= button_to "Naah", "/results", :method => "post" %>
<%= button_to "Yup!", "/results", :method => "post" %>
</p>